.pageSideMenu {
    background-color: tomato;
    width: 10%;
    height: 100%;
    min-height: 600px;
    text-align: center;
    margin-top: 30px;
}

.sidebar-left {
    background-color: tomato;
    width: 20%;
    order: 1;
}

.sidebar-left h4 {
    margin-left: 10%;
}

.sidebar-right {
    background-color: yellow;
    width: 20%;
    order: 3;
}

.sidebar-right h4 {
    margin-left: 10%;
}

@media (max-width: 768px) {
    .sidebar-right {
        display: none;
    }
    .sidebar-left {
        display: none;
    }
}