.section-parent {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
}

.section-block {
    width: 45%;
    border: 1px;
    margin: 10px auto;
}

.section-block-long {
    width: 90%;
    border: 1px;
    margin: 10px auto;
}